[Desktop Entry]
Name=horus
Type=Application
X-KDE-PluginInfo-Author=morgenfrost
X-KDE-PluginInfo-Email=morgenfrost@gmx.net
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-Name=horus
X-KDE-PluginInfo-Version=1.0
